<div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="/assets/img/logo.svg"/>
    </div>
  </a>
    <a href="javascript:void(0)" class="simple-text logo-normal">
      Tarificación
    </a>
</div>

<div class="sidebar-wrapper">
  <div class="user">
    <div class="photo">
      <img src="./assets/img/default-avatar.png" />
    </div>
    <div class="user-info">
      <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
        <span>
          Usuario
          <b class="caret"></b>
        </span>
      </a>

      <div class="collapse show" id="collapseExample">
        <ul class="nav">
            <li routerLinkActive="active" class="nav-item">
                <a [routerLink]="['/cambiarClave']" class="nav-link">
                    <span class="sidebar-mini">CC</span>
                    <span class="sidebar-normal">Cambiar Clave</span>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item" >
          <!-- Cuando solo es un link -->
          <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" class="nav-link">
              <i class="material-icons">{{ menuitem.icontype }}</i>
              <p>{{ menuitem.title }}</p>
          </a>
          <!-- Cuando tiene un sub menu -->
          <a data-toggle="collapse" href="#{{ menuitem.collapse }}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()" [attr.aria-expanded]="menuitem.show" class="nav-link" style="background: rgb(255, 255, 255, 0.1);">
              <i class="material-icons">{{ menuitem.icontype }}</i>
              <p>{{ menuitem.title }}<b class="caret"></b></p>
          </a>

          <!-- Muestra los elementos del submenu -->
          <div id="{{ menuitem.collapse }}" class="collapse" [class.show]="menuitem.show" *ngIf="menuitem.type === 'sub'">
              <ul class="nav">
                  <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
                      <a [routerLink]="[menuitem.path + childitem.path]" class="nav-link">
                          <span class="sidebar-mini">{{ childitem.ab }}</span>
                          <span class="sidebar-normal">{{ childitem.title }}</span>
                      </a>
                  </li>
              </ul>
          </div>
      </li>
      <!-- Cerrar Sesión -->
      <li class="nav-item mt-3">
        <a href="javascript:void(0)" (click)="logout()" class="nav-link" style="background: rgb(255, 255, 255, 0.1);">
          <i class="material-icons">logout</i>
          <p>Cerrar Sesión</p>
      </a>
      </li>
  </ul>
</div>
