<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title">Tarificación {{ typeTable | titlecase }}</h4>
      </div>
      <div class="card-body">
        <div class="toolbar mb-3">

          <div class="row mt-2">
            <div class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-3">
              <mat-form-field appearance="fill">
                <mat-label>Ingresa rango de fechas</mat-label>
                <mat-date-range-input [formGroup]="rangeDate" [rangePicker]="picker" [min]="minDate" [max]="maxDate" (click)="picker.open()" disabled>
                  <input matStartDate formControlName="start" placeholder="Fecha Inicio">
                  <input matEndDate formControlName="end" placeholder="Fecha Fin">
                </mat-date-range-input>
                <mat-hint>DD-MM-YYYY - DD-MM-YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker touchUi #picker disabled="false"></mat-date-range-picker>

                <mat-error *ngIf="rangeDate.get('start').hasError('required')">Fecha inicio no válida</mat-error>
                <mat-error *ngIf="rangeDate.get('end').hasError('required')">Fecha fin no válida</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2" [ngClass]="{ 'text-center': isXsView }">
              <button type="button" class="btn btn-primary" [ngClass]="{ 'mt-3 mb-3': isXsView }" (click)="filter()" [disabled]="rangeDate.invalid">Filtrar</button>
            </div>

            <div class="col-12 col-sm-5 col-md-5 col-lg-7 col-xl-7" [ngClass]="{ 'text-center': isXsView }">
              <button mat-raised-button type="button" (click)="exportAllPdf()" class="btn btn-danger" [ngClass]="{ 'float-right': divHaveClass }">
                <i class="material-icons">picture_as_pdf</i> Exportar PDF
              </button>

              <button mat-raised-button type="button" (click)="exportExcel()" class="btn btn-success" [ngClass]="{ 'float-right': divHaveClass }">
                <i class="material-icons">menu_book</i> Exportar Excel
              </button>
            </div>

          </div>

        </div>

        <hr>
        <!-- TABLA -->
        <div *ngIf="!loadingDataTable" class="material-datatables table-responsive">
          <table [id]="typeTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
            <thead>
              <tr>
                <th [ngClass]="{'text-center': i !== 0}" *ngFor="let header of headersTable; let i = index;">
                  {{ header }}
                </th>
                <th class="disabled-sorting text-right">Acción</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th [ngClass]="{'text-center': i !== 0}" *ngFor="let header of headersTable; let i = index;">
                  {{ header }}
                </th>
                <th class="text-right">Acción</th>
              </tr>
            </tfoot>
            <tbody>
              <ng-container *ngIf="typeTable === 'anexos'; else unitTable">
                <tr *ngFor="let row of dataTable">
                  <td>{{ row.idAnexo }}</td>
                  <td class="text-center">{{ row.slmTotalSeg | moneyFormat }}</td>
                  <td class="text-center">${{ row.slmTotalCost | moneyFormat }}</td>
                  <td class="text-center">{{ row.celTotalSeg | moneyFormat }}</td>
                  <td class="text-center">${{ row.celTotalCost | moneyFormat }}</td>
                  <td class="text-center">{{ row.ldiTotalSeg | moneyFormat }}</td>
                  <td class="text-center">${{ row.ldiTotalCost | moneyFormat }}</td>
                  <td class="text-center">{{ row.callQuantity | moneyFormat }}</td>
                  <td class="text-right">
                    <a href="javascript:void(0)" (click)="exportPdf(row.idAnexo)" class="btn btn-link btn-warning btn-just-icon">
                      <i class="material-icons">picture_as_pdf</i>
                    </a>
                  </td>
                </tr>
              </ng-container>

              <ng-template #unitTable>
                <tr *ngFor="let row of dataTable">
                  <td>{{ row.unitName }}</td>
                  <td class="text-center">{{ row.slmTotalSeg | moneyFormat }}</td>
                  <td class="text-center">${{ row.slmTotalCost | moneyFormat }}</td>
                  <td class="text-center">{{ row.celTotalSeg | moneyFormat }}</td>
                  <td class="text-center">${{ row.celTotalCost | moneyFormat }}</td>
                  <td class="text-center">{{ row.ldiTotalSeg | moneyFormat }}</td>
                  <td class="text-center">${{ row.ldiTotalCost | moneyFormat }}</td>
                  <td class="text-center">{{ row.callQuantity | moneyFormat }}</td>
                  <td class="text-right">
                    <a href="javascript:void(0)" (click)="exportPdf(row.idUnit)" class="btn btn-link btn-warning btn-just-icon">
                      <i class="material-icons">picture_as_pdf</i>
                    </a>
                  </td>
                </tr>
              </ng-template>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
