<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="page-categories">

          <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">

            <li class="nav-item" (click)="changeView('anexos')">
              <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                <i class="material-icons">call</i> Anexos
              </a>
            </li>
            <li class="nav-item" (click)="changeView('unidades')">
              <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                <i class="material-icons">apartment</i> Unidades
              </a>
            </li>

          </ul>

          <div class="tab-content tab-space tab-subcategories">

            <div class="tab-pane active" [id]="tabPane">
              <!-- AQUI COMIENZA COMPONENTE DE ANEXOS/UNIDADES -->
              <ng-container *ngIf="view === 'anexos' || view === 'unidades'">
                <app-report-anexo-unit
                [typeTable]="view"
                [dataTable]="dataTable"
                [minDate]="minDatePicker"
                [maxDate]="maxDatePicker"
                [initDatePicker]="maxDatePicker"
                ></app-report-anexo-unit>
              </ng-container>
              <!-- AQUI TERMINA COMPONENTE DE ANEXOS/UNIDADES -->
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
