<div mat-dialog-title>
  <div class="text-center">
      <i class="material-icons" style="color: #F7D200; font-size: 50px;">warning</i>
      <h3 class="mb-1 mt-3">{{ data.title }}</h3>
  </div>
</div>

<div mat-dialog-content class="modal-body mt-3">
  <h4 class="text-center">{{ data.message }}</h4>
</div>

<div mat-dialog-actions class="mt-3">
  <div class="row">
    <div class="col-md-6 text-center">
      <button mat-raised-button type="button" class="btn btn-info btn-round" (click)="onDismiss()">Cerrar</button>
    </div>
    <div class="col-md-6 text-center">
      <button mat-raised-button type="button" class="btn btn-danger btn-round" (click)="onConfirm()">Confirmar</button>
    </div>
  </div>
</div>
