<div class="main-content">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Tarificación Responsable de Unidad</h4>
          </div>
          <div class="card-body">
            <div class="toolbar mb-3">

              <div class="row mt-2">
                <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Selecciona Mes y Año</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date" [min]="minDate" [max]="maxDate" disabled>
                    <mat-hint>MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)" disabled="false">
                    </mat-datepicker>

                    <mat-error *ngIf="date.hasError('required') || !date.hasError('required')">Fecha no válida</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-12 col-md-4 col-lg-5 col-xl-3" [ngClass]="{ 'mt-3': isXsView }">
                  <mat-form-field appearance="fill">
                    <mat-label>Selecciona Responsable</mat-label>
                    <mat-select name="tables" [(ngModel)]="selectedFilter">
                      <mat-option *ngFor="let supervisor of supervisorList" [value]="supervisor">
                        {{ supervisor.nameResponsable }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-12 col-md-2 col-lg-2 col-xl-2" [ngClass]="{ 'text-center': isXsView }">
                  <button type="button" class="btn btn-primary" [ngClass]="{ 'mt-3 mb-3': isXsView }" (click)="filter()" [disabled]="date.invalid || !selectedFilter">Filtrar</button>
                </div>

              </div>

              <div class="row mt-5">
                <div class="col-12" [ngClass]="{ 'text-center': isXsView }">
                  <button mat-raised-button type="button" (click)="exportPdf()" [disabled]="!dataSupervisor || !selectedFilter" class="btn btn-danger">
                    <i class="material-icons">picture_as_pdf</i> Exportar PDF
                  </button>

                  <button mat-raised-button type="button" (click)="exportExcel()" [disabled]="!dataSupervisor || !selectedFilter" class="btn btn-success">
                    <i class="material-icons">menu_book</i> Exportar Excel
                  </button>
                </div>
              </div>

            </div>

            <hr>

            <ng-container *ngIf="dataSupervisor; else noFilterData">
              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th class="title-th">Responsable</th>
                      <th class="text-center title-th">Cantidad de Unidades</th>
                      <th class="text-center title-th">Cantidad de Anexos</th>
                      <th class="text-center title-th">Total Llamadas</th>
                      <th class="text-center title-th">Tiempo Total (seg)</th>
                      <th class="text-center title-th">Costo Total ($)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ dataSupervisor.userName }}</td>
                      <td class="text-center">{{ dataSupervisor.cantUnidades | moneyFormat }}</td>
                      <td class="text-center">{{ dataSupervisor.cantAnexos | moneyFormat }}</td>
                      <td class="text-center">{{ dataSupervisor.countCall | moneyFormat }}</td>
                      <td class="text-center">{{ dataSupervisor.totalCallTime | moneyFormat }}</td>
                      <td class="text-center">${{ dataSupervisor.totalCost | moneyFormat }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>

            <ng-template #noFilterData>
              <div class="text-center mt-4">
                <span>
                  <b><i style="color: red;" class="material-icons">error</i>  {{ messageAlert }} </b>
                </span>
              </div>
            </ng-template>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
