<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">group</i>
            </div>
            <h4 class="card-title">Formulario Actualización</h4>
          </div>
          <div class="card-body mt-5">
            <form class="form-horizontal" [formGroup]="formUser">

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" name="firstname" id="firstname" appValidLetters="onlyLettersSpace" formControlName="firstname" autocomplete="off" maxlength="50" minlength="2">

                    <mat-error *ngIf="formUser.get('firstname').hasError('required')">
                      Debe ingresar un nombre.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('firstname').hasError('required') && formUser.get('firstname').hasError('pattern')">
                      Debe ingresar un nombre sin caracteres especiales.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Apellido</mat-label>
                    <input matInput type="text" name="lastname" id="lastname" appValidLetters="onlyLettersSpace" formControlName="lastname" autocomplete="off" maxlength="50" minlength="2">

                    <mat-error *ngIf="formUser.get('lastname').hasError('required')">
                      Debe ingresar un apellido.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('lastname').hasError('required') && formUser.get('lastname').hasError('pattern')">
                      Debe ingresar un apellido sin caracteres especiales.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Correo</mat-label>
                    <input matInput type="text" inputmode="email" name="email" id="email" appValidLetters="emailValidLetters" formControlName="email" autocomplete="off" maxlength="250" minlength="5">

                    <mat-error *ngIf="formUser.get('email').hasError('required')">
                      Debe ingresar un email.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('email').hasError('required') && formUser.get('email').hasError('pattern')">
                      Debe ingresar un correo válido.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="category form-category ml-3 mt-3">* Campos Requeridos</div>

              <div class="card-footer justify-content-center">
                <!-- [disabled]="formUser.invalid"  -->
                <button mat-raised-button type="submit" class="btn btn-rose" (click)="updateUser()">Actualizar</button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
