<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">holiday_village</i>
            </div>
            <h4 class="card-title">Formulario Creación</h4>
          </div>
          <div class="card-body mt-5">
            <form class="form-horizontal" [formGroup]="formUnit">
              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" name="name" id="name" appValidLetters="lettersMinMayNumberSpace" formControlName="name" autocomplete="off" maxlength="200" minlength="5">

                    <mat-error *ngIf="formUnit.get('name').hasError('required')">
                      Debe ingresar un nombre.
                    </mat-error>

                    <mat-error *ngIf="!formUnit.get('name').hasError('required') && formUnit.get('name').hasError('pattern')">
                      Debe ingresar un nombre sin caracteres especiales.
                    </mat-error>

                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Seleccionar Facultad</mat-label>
                    <mat-select formControlName="faculty">
                      <mat-option *ngFor="let faculty of faculties" [value]="faculty.idFaculty">
                        {{ faculty.facultyName }}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="formUnit.get('faculty').hasError('required')">
                      Debe seleccionar una Facultad.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Seleccionar Responsable</mat-label>
                    <mat-select formControlName="supervisor">
                      <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor.idUser">
                        {{ supervisor.nameResponsable }}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="formUnit.get('supervisor').hasError('required')">
                      Debe seleccionar un Responsable de Unidad.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="category form-category ml-3 mt-3">* Campos Requeridos</div>

              <div class="card-footer justify-content-center">
                <button mat-raised-button type="submit" class="btn btn-rose" (click)="createUnit()">Crear</button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
