<!-- CON DATOS -->
<ng-container *ngIf="data.providers.length; else noData">
  <div mat-dialog-title>
    <div class="text-center">
      <i class="material-icons" style="color: #ffe02e; font-size: 50px;">warning</i>

      <h4 class="mb-1">
        <strong>Existen Facultades <br> con este proveedor</strong>
      </h4>
    </div>
  </div>

  <div mat-dialog-content class="mt-1 dialog-select-fix">
    <p class="text-center">Selecciona otro que quede en su lugar.</p>

    <div class="row">
      <div class="col-10 ml-auto mr-auto">
        <select class="form-control" [formControl]="providerSelected" name="provider">
          <option *ngFor="let provider of data.providers" [value]="provider.idProvider">{{ provider.nameProvider }}</option>
        </select>
      </div>

    </div>

  </div>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 text-center">
      <button mat-raised-button class="btn btn-danger" (click)="onClose()">Cancelar</button>
    </div>
    <div class="col-sm-12 col-md-6 text-center">
      <button mat-raised-button class="btn btn-success" (click)="onConfirm()">Confirmar</button>
    </div>
  </div>
</ng-container>

<!-- SIN DATOS -->
<ng-template #noData>
  <div mat-dialog-title>
    <div class="text-center">
      <i class="material-icons" style="color: #E40000; font-size: 50px;">error</i>

      <h4 class="mb-1">
        <strong>Existen Facultades <br> con este proveedor</strong>
      </h4>
    </div>
  </div>

  <div mat-dialog-content class="mt-1 dialog-select-fix">
    <p class="text-center">No es posible eliminar al proveedor mientras <br> no exista otro que lo reemplace.</p>
  </div>

  <div class="text-center mt-3">
    <button mat-raised-button class="btn btn-primary" (click)="onClose()">Aceptar</button>
  </div>
</ng-template>
