<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <button type="button" (click)="goCreateUnit()" mat-raised-button class="btn btn-success float-right">
          <span class="btn-label">
            <i class="material-icons">add</i>
          </span>
          Crear Unidad
        </button>

        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">holiday_village</i>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">N°</th>
                    <th>Nombre</th>
                    <th>Facultad</th>
                    <th>Responsable</th>
                    <th class="text-center">Cantidad de Anexos</th>
                    <th class="text-center">Detalle Anexos</th>
                    <th class="text-center">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let unit of units; let i = index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ unit.unitName }}</td>
                    <td>{{ unit.facultyName }}</td>
                    <td>{{ unit.nameUser }}</td>
                    <td class="text-center">{{ unit.numberOfAnexo }}</td>
                    <td class="text-center">
                      <i class="material-icons detail-unit" (click)="showAnexos(unit.unitName, unit.anexos)">visibility</i>
                    </td>
                    <td class="td-actions text-center">
                      <button mat-raised-button type="button" (click)="goUpdate(unit.idUnit)" class="btn btn-success btn-link">
                        <i class="material-icons">edit</i>
                         Actualizar
                      </button>

                      <button mat-raised-button type="button" (click)="unitDelete(unit.idUnit)" class="btn btn-danger btn-link">
                        <i class="material-icons">delete</i>
                         Eliminar
                      </button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
