<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" *ngFor="let item of items; let i = index">
        <div class="card card-stats">
          <div class="card-header card-header-icon" [class]="colorHeaderItems[i]">
            <div class="card-icon">
              <i class="material-icons">{{ item.icon }}</i>
            </div>
            <p class="card-category">{{ item.name }}</p>
            <h3 class="card-title">{{ item.count }}</h3>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>

    </div>

  </div>
</div>

