<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">tag</i>
            </div>
            <h4 class="card-title">Formulario</h4>
          </div>
          <div class="card-body mt-5">
            <form class="form-horizontal" [formGroup]="formPwd">
              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Contraseña Actual</mat-label>
                    <input matInput [type]="hideOldPdw ? 'password' : 'text'" name="oldPwd" id="oldPwd" appValidLetters="lettersMinNumber" formControlName="oldPwd" autocomplete="off" maxlength="10" minlength="3">
                    <mat-icon matSuffix (click)="hideOldPdw = !hideOldPdw">{{ hideOldPdw ? 'visibility_off' : 'visibility' }}</mat-icon>

                    <mat-error *ngIf="formPwd.get('oldPwd').hasError('required')">
                      Debe ingresar una contraseña.
                    </mat-error>

                    <mat-error *ngIf="!formPwd.get('oldPwd').hasError('required') && !formPwd.get('oldPwd').hasError('pattern') && (formPwd.get('oldPwd').hasError('minlength') || formPwd.get('oldPwd').hasError('minlength'))">
                      Su Clave debe tener un largo de 3 a 10 caracteres.
                    </mat-error>

                    <mat-error *ngIf="!formPwd.get('oldPwd').hasError('required') && formPwd.get('oldPwd').hasError('pattern')">
                      Su clave debería contener letras minúsculas, números o ambos.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">

                  <mat-form-field appearance="legacy">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input matInput [type]="hideNewPdw ? 'password' : 'text'" name="newPwd" id="newPwd" appValidLetters="lettersMinNumber" formControlName="newPwd" autocomplete="off" maxlength="10" minlength="3">
                    <mat-icon matSuffix (click)="hideNewPdw = !hideNewPdw">{{ hideNewPdw ? 'visibility_off' : 'visibility' }}</mat-icon>

                    <mat-error *ngIf="formPwd.get('newPwd').hasError('required')">
                      Debe ingresar una contraseña
                    </mat-error>

                    <mat-error *ngIf="!formPwd.get('newPwd').hasError('required') && !formPwd.get('newPwd').hasError('pattern') && (formPwd.get('newPwd').hasError('minlength') || formPwd.get('newPwd').hasError('minlength'))">
                      Su Clave debe tener un largo de 3 a 10 caracteres.
                    </mat-error>

                    <mat-error *ngIf="!formPwd.get('newPwd').hasError('required') && formPwd.get('newPwd').hasError('pattern') && !formPwd.errors?.notSame">
                      Su nueva clave debe contener letras minúsculas, números o ambos.
                    </mat-error>
                  </mat-form-field>

                </div>

              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">

                  <mat-form-field appearance="legacy">
                    <mat-label>Confirmar Nueva Contraseña</mat-label>
                    <input matInput [type]="hideConfirmNewPdw ? 'password' : 'text'" name="confirmNewPwd" id="confirmNewPwd" appValidLetters="lettersMinNumber" formControlName="confirmNewPwd" autocomplete="off" maxlength="10" minlength="3">
                    <mat-icon matSuffix (click)="hideConfirmNewPdw = !hideConfirmNewPdw">{{ hideConfirmNewPdw ? 'visibility_off' : 'visibility' }}</mat-icon>

                    <mat-error *ngIf="formPwd.get('confirmNewPwd').hasError('required') && !formPwd.errors?.notSame">
                      Debe ingresar una contraseña
                    </mat-error>

                    <mat-error *ngIf="!formPwd.get('confirmNewPwd').hasError('required') && !formPwd.get('confirmNewPwd').hasError('pattern') && (formPwd.get('confirmNewPwd').hasError('minlength') || formPwd.get('confirmNewPwd').hasError('minlength'))">
                      Su Clave debe tener un largo de 3 a 10 caracteres.
                    </mat-error>

                    <mat-error *ngIf="!formPwd.get('confirmNewPwd').hasError('required') && formPwd.get('confirmNewPwd').hasError('pattern') && !formPwd.errors?.notSame">
                      Su clave debe contener letras minúsculas, números o ambos.
                    </mat-error>

                    <mat-hint class="custom-error" *ngIf="formPwd.errors?.notSame && (formPwd.get('newPwd').touched || formPwd.get('confirmNewPwd').touched)">
                      Las contraseñas no coinciden
                    </mat-hint>
                  </mat-form-field>

                </div>

              </div>

              <div class="category form-category ml-3 mt-3">* Campos Requeridos</div>

              <div class="card-footer justify-content-center">
                <button mat-raised-button type="submit" class="btn btn-rose" (click)="changePwd()">Cambiar</button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
