<div mat-dialog-title>
  <div class="text-center">
    <i class="material-icons" style="color: #0FAC0F; font-size: 50px;">check_circle</i>

    <h3 class="mb-1">Detalle Llamadas Anexo: {{ data.idAnexo }}</h3>
  </div>
</div>

<div mat-dialog-content class="mt-5">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Destino</th>
          <th class="text-center">Segundos Hablados</th>
          <th class="text-center">Cantidad de Llamadas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of data.detail; let i = index;">
          <td class="text-center">{{ detail.dst }}</td>
          <td class="text-center">{{ detail.spokenSeconds | moneyFormat }}</td>
          <td class="text-center">{{ detail.numberOfAnsweredCalls | moneyFormat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="text-center mt-5">
  <button mat-raised-button class="btn btn-primary m-auto" (click)="onClose()">Aceptar</button>
</div>
