<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <button type="button" (click)="goCreateAnexo()" mat-raised-button class="btn btn-success float-right">
          <span class="btn-label">
            <i class="material-icons">add</i>
          </span>
          Crear Anexo
        </button>

        <div class="col-sm-12 col-lg-3 float-right mb-3">
          <mat-form-field>
            <mat-label>Filtrar por Estado</mat-label>
            <mat-select name="roles" [(ngModel)]="statusSelectedFilter" (selectionChange)="changeSelect($event.value)">
              <mat-option [value]="2">Todos</mat-option>
              <mat-option *ngFor="let statu of status" [value]="statu.code">
                {{ statu.status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-lg-3 float-right mb-3">
          <mat-form-field>
            <mat-label>Buscar Anexo</mat-label>
            <input matInput type="text" inputmode="numeric" name="filterAnexos" [formControl]="filterAnexos" autocomplete="off" minlength="1" appOnlyNumber>
          </mat-form-field>
        </div>

        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">tag</i>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">

            <ng-container *ngIf="anexos.length; else noFilterData">

              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">N°</th>
                      <th class="text-center">Anexo</th>
                      <th>Unidad</th>
                      <th class="text-center">Estado</th>
                      <th class="text-center">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let anexo of anexos; let i = index;">
                      <td>{{ i + 1 }}</td>
                      <td class="text-center">{{ anexo.idAnexo }}</td>
                      <td>
                        <span *ngIf="anexo.idUnit !== 0">{{ anexo.unitName}}</span>
                        <span *ngIf="anexo.idUnit === 0" style="color: red;"><strong>{{ anexo.unitName }}</strong></span>
                      </td>
                      <td class="text-center">
                        <span *ngIf="anexo.isDeleted === 0">
                          <ng-container *ngIf="anexo.idUnit !== 0; else noUnit">
                            <label style="color: green;">Encendido</label>
                          </ng-container>

                          <ng-template #noUnit>
                            <label style="color: red;"> Apagado</label>
                          </ng-template>
                        </span>
                        <span *ngIf="anexo.isDeleted === 1"><label style="color: red;">Apagado</label></span>
                      </td>
                      <td class="td-actions text-center">
                        <button mat-raised-button type="button" (click)="goUpdate(anexo.idAnexo)" class="btn btn-info btn-link">
                          <i class="material-icons">edit</i>
                          Actualizar
                        </button>

                        <button *ngIf="anexo.idUnit !== 0" mat-raised-button type="button" (click)="changeStatus(anexo.idAnexo)" class="btn btn-primary btn-link">
                          <i class="material-icons">restart_alt</i>
                          Cambiar Estado
                        </button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </ng-container>

            <ng-template #noFilterData>
              <div class="text-center mt-4" style="border: 1px solid cadetblue;">
                <div class="p-3">
                  <b><i style="color: red;" class="material-icons">error</i>  No se encuentran registros </b>
                </div>
              </div>
            </ng-template>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
