<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">holiday_village</i>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">

            <ng-container *ngIf="units.length; else noFilterData">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">N°</th>
                    <th>Nombre</th>
                    <th>Facultad</th>
                    <th>Responsable</th>
                    <th class="text-center">Cantidad de Anexos</th>
                    <th class="text-center">Detalle Anexos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let unit of units; let i = index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ unit.unitName }}</td>
                    <td>{{ unit.facultyName }}</td>
                    <td>{{ unit.nameUser }}</td>
                    <td class="text-center">{{ unit.numberOfAnexo }}</td>
                    <td class="text-center">
                      <i class="material-icons detail-unit" (click)="showAnexos(unit.unitName, unit.anexos)">visibility</i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>

            <ng-template #noFilterData>
              <div class="text-center mt-4" style="border: 1px solid cadetblue;">
                <div class="p-3">
                  <b><i style="color: red;" class="material-icons">error</i>  No se encuentran registros </b>
                </div>
              </div>
            </ng-template>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
