<div class="main-content">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Reporte Universidad</h4>
          </div>
          <div class="card-body">
            <div class="toolbar mb-3">

              <div class="row mt-2">
                <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Selecciona Mes y Año</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date" [min]="minDate" [max]="maxDate" disabled>
                    <mat-hint>MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)" disabled="false">
                    </mat-datepicker>

                    <mat-error *ngIf="date.hasError('required') || !date.hasError('required')">Fecha no válida</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-12 col-md-2 col-lg-2 col-xl-2" [ngClass]="{ 'text-center': isXsView }">
                  <button type="button" class="btn btn-primary" [ngClass]="{ 'mt-3 mb-3': isXsView }" (click)="filter()" [disabled]="date.invalid">Filtrar</button>
                </div>

                <div class="col-12 col-md-6 col-lg-6 col-xl-7" [ngClass]="{ 'text-center': isXsView }">
                  <button mat-raised-button type="button" (click)="exportPdf()" class="btn btn-danger" [ngClass]="{ 'float-right': divHaveClass }">
                    <i class="material-icons">picture_as_pdf</i> Exportar PDF
                  </button>
                </div>

              </div>

            </div>

            <hr>

            <div class="row">

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                  <div class="card-header card-header-icon card-header-success">
                    <div class="card-icon">
                      <i class="material-icons">phone_in_talk</i>
                    </div>
                    <p class="card-category">Total Llamadas</p>
                    <h3 class="card-title">{{ totalCall | moneyFormat }}</h3>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                  <div class="card-header card-header-icon card-header-info">
                    <div class="card-icon">
                      <i class="material-icons">hourglass_empty</i>
                    </div>
                    <p class="card-category">Cant. minutos hablados</p>
                    <h3 class="card-title">{{ totalSpoken }} Min.</h3>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>

            </div>

            <hr>

            <div class="col-12 col-md-4 col-lg-5 col-xl-3" [ngClass]="{ 'mt-3': isXsView }">
              <mat-form-field>
                <mat-label>Selecciona Facultad</mat-label>
                <mat-select name="tables" [(ngModel)]="selectedFilter" (selectionChange)="changeSelect($event.value)">
                  <mat-option [value]="0">Todas</mat-option>
                  <mat-option *ngFor="let faculty of allFacultiesReport" [value]="faculty.idFaculty">
                    {{ faculty.facultyName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th class="title-th">Facultad</th>
                    <th class="text-center title-th">Total Llamadas</th>
                    <th class="text-center title-th">Cantidad de Minutos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let faculty of facultiesReport;">
                    <td>{{ faculty.facultyName }}</td>
                    <td class="text-center">{{ faculty.numberOfCall | moneyFormat }}</td>
                    <td class="text-center">{{ faculty.spokenSecond }} Min.</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
