<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <button type="button" (click)="goCreateUser()" mat-raised-button class="btn btn-success float-right">
          <span class="btn-label">
            <i class="material-icons">add</i>
          </span>
          Crear Usuario
        </button>

        <div class="col-lg-4 col-md-5 float-right mb-3">
          <mat-form-field>
            <mat-label>Filtrar por Rol</mat-label>
            <mat-select name="roles" [(ngModel)]="roleSelectedFilter" (selectionChange)="changeSelect($event.value)">
              <mat-option [value]="0">Todos</mat-option>
              <mat-option *ngFor="let role of roles" [value]="role.idRole">
                {{ role.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">group</i>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">

            <ng-container *ngIf="users.length; else noFilterData">

              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">N°</th>
                      <th>Username</th>
                      <th>Nombre</th>
                      <th class="text-center">Email</th>
                      <th class="text-center">Rol</th>
                      <th class="text-center">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users; let i = index;">
                      <td>{{ i + 1 }}</td>
                      <td>{{ user.userName }}</td>
                      <td>{{ user.firstName }} {{ user.lastName }}</td>
                      <td class="text-center">{{ user.email }}</td>
                      <td class="text-center">{{ user.roleName }}</td>
                      <td class="td-actions text-center">
                        <ng-container *ngIf="idUserSession !== user.idUser">
                          <button mat-raised-button type="button" (click)="resetPdw(user.idUser)" class="btn btn-info btn-link">
                            <i class="material-icons">lock_reset</i>
                            Reset Clave
                          </button>
                        </ng-container>

                        <button mat-raised-button type="button" (click)="goUpdate(user.idUser)" class="btn btn-success btn-link">
                          <i class="material-icons">edit</i>
                          Actualizar
                        </button>

                        <ng-container *ngIf="idUserSession !== user.idUser">
                          <button mat-raised-button type="button" (click)="userDelete(user.hasRelationUnits, user.idUser)" class="btn btn-danger btn-link">
                            <i class="material-icons">delete</i>
                            Eliminar
                          </button>
                        </ng-container>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </ng-container>

            <ng-template #noFilterData>
              <div class="text-center mt-4" style="border: 1px solid cadetblue;">
                <div class="p-3">
                  <b><i style="color: red;" class="material-icons">error</i>  No se encuentran registros </b>
                </div>
              </div>
            </ng-template>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
