<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <button type="button" (click)="goCreateProvider()" mat-raised-button class="btn btn-success float-right">
          <span class="btn-label">
            <i class="material-icons">add</i>
          </span>
          Crear Proveedor
        </button>

        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">corporate_fare</i>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">N°</th>
                    <th>Nombre</th>
                    <th class="text-center">Costo Fijo Anexo</th>
                    <th class="text-center">Detalle Servicios</th>
                    <th class="text-center">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let provider of providers; let i = index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ provider.nameProvider }}</td>
                    <td class="text-center">${{ provider.fixedCost | moneyFormat }}</td>
                    <td class="text-center">
                      <i class="material-icons detail-provider" (click)="showServices(provider.nameProvider, provider.services)">visibility</i>
                    </td>
                    <td class="td-actions text-center">
                      <button mat-raised-button type="button" (click)="goUpdate(provider.idProvider)" class="btn btn-success btn-link">
                        <i class="material-icons">edit</i>
                         Actualizar
                      </button>

                      <button mat-raised-button type="button" (click)="providerDelete(provider.hasRelationFaculties, provider.idProvider)" class="btn btn-danger btn-link">
                        <i class="material-icons">delete</i>
                         Eliminar
                      </button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
