<div class="main-content">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <!-- <h4 class="card-title">Consulta Tarificación</h4> -->
          </div>
          <div class="card-body">
            <div class="toolbar mb-3">

              <div class="row mt-2">
                <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                  <mat-form-field appearance="fill">
                    <mat-label>Ingresa rango de fechas</mat-label>
                    <mat-date-range-input [formGroup]="rangeDate" [rangePicker]="picker" [min]="minDate" [max]="maxDate" (click)="picker.open()" disabled>
                      <input matStartDate formControlName="start" placeholder="Fecha Inicio">
                      <input matEndDate formControlName="end" placeholder="Fecha Fin">
                    </mat-date-range-input>
                    <mat-hint>DD-MM-YYYY - DD-MM-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker touchUi #picker disabled="false"></mat-date-range-picker>

                    <mat-error *ngIf="rangeDate.get('start').hasError('required')">Fecha inicio no válida</mat-error>
                    <mat-error *ngIf="rangeDate.get('end').hasError('required')">Fecha fin no válida</mat-error>
                  </mat-form-field>
                </div>

              </div>

            </div>

            <hr>
            <div *ngIf="!loadingDataTable" class="material-datatables table-responsive">
              <table id="consult" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th>Facultad</th>
                    <th>Unidad</th>
                    <th class="text-center">Anexos</th>
                    <th class="text-center">Detalles Llamadas</th>
                    <th class="text-center">Detalle Tarificación</th>
                    <th class="text-center">Detalle Proveedor</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Facultad</th>
                    <th>Unidad</th>
                    <th class="text-center">Anexos</th>
                    <th class="text-center">Detalles Llamadas</th>
                    <th class="text-center">Detalle Tarificación</th>
                    <th class="text-center">Detalle Proveedor</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let row of dataTable">
                    <td>{{ row.facultyName }}</td>
                    <td>{{ row.unitName }}</td>
                    <td class="text-center">{{ row.idAnexo }}</td>
                    <td class="text-center">
                      <i class="material-icons detail" (click)="detailCalls(row.idAnexo)">visibility</i>
                    </td>
                    <td class="text-center">
                      <i class="material-icons detail" (click)="detailTarificacion(row.idAnexo)">visibility</i>
                    </td>
                    <td class="text-center">
                      <i class="material-icons detail" (click)="detailProvider(row.nameProvider, row.services)">visibility</i>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
