<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">group</i>
            </div>
            <h4 class="card-title">Formulario Creación</h4>
          </div>
          <div class="card-body mt-5">
            <form class="form-horizontal" [formGroup]="formUser">
              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" name="username" id="username" appValidLetters="lettersMinNumber" formControlName="username" autocomplete="off" maxlength="15" minlength="4">

                    <mat-error *ngIf="formUser.get('username').hasError('required')">
                      Debe ingresar un nombre de usuario.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('username').hasError('required') && formUser.get('username').hasError('pattern')">
                      Debe ingresar un nombre sin caracteres especiales.
                    </mat-error>

                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" name="firstname" id="firstname" appValidLetters="onlyLettersSpace" formControlName="firstname" autocomplete="off" maxlength="50" minlength="2">

                    <mat-error *ngIf="formUser.get('firstname').hasError('required')">
                      Debe ingresar un nombre.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('firstname').hasError('required') && formUser.get('firstname').hasError('pattern')">
                      Debe ingresar un nombre sin caracteres especiales.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Apellido</mat-label>
                    <input matInput type="text" name="lastname" id="lastname" appValidLetters="onlyLettersSpace" formControlName="lastname" autocomplete="off" maxlength="50" minlength="2">

                    <mat-error *ngIf="formUser.get('lastname').hasError('required')">
                      Debe ingresar un apellido.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('lastname').hasError('required') && formUser.get('lastname').hasError('pattern')">
                      Debe ingresar un apellido sin caracteres especiales.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Correo</mat-label>
                    <input matInput type="text" inputmode="email" name="email" id="email" appValidLetters="emailValidLetters" formControlName="email" autocomplete="off" maxlength="250" minlength="5">

                    <mat-error *ngIf="formUser.get('email').hasError('required')">
                      Debe ingresar un email.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('email').hasError('required') && formUser.get('email').hasError('pattern')">
                      Debe ingresar un correo válido.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Seleccionar Rol</mat-label>
                    <mat-select formControlName="rol">
                      <mat-option *ngFor="let rol of rolList" [value]="rol.idRole">
                        {{ rol.roleName }}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="formUser.get('rol').hasError('required')">
                      Debe seleccionar un Rol.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Clave</mat-label>
                    <input matInput [type]="hidePdw ? 'password' : 'text'" name="pwd" id="pwd" appValidLetters="validPwd" formControlName="pwd" autocomplete="off" maxlength="10" minlength="8">
                    <mat-icon matSuffix (click)="hidePdw = !hidePdw">{{ hidePdw ? 'visibility_off' : 'visibility' }}</mat-icon>

                    <mat-error *ngIf="formUser.get('pwd').hasError('required')">
                      Debe ingresar una contraseña.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('pwd').hasError('required') && !formUser.get('pwd').hasError('pattern') && (formUser.get('pwd').hasError('minlength') || formUser.get('pwd').hasError('minlength'))">
                      Su Clave debe tener un largo de 8 a 10 caracteres.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('pwd').hasError('required') && formUser.get('pwd').hasError('pattern')">
                      Su clave debe contener al menos 5 números, 1 letra minuscula, 1 letra mayuscula y un simbolo (./*$).
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">

                  <mat-form-field appearance="legacy">
                    <mat-label>Confirmar Clave</mat-label>
                    <input matInput [type]="hideConfirmPdw ? 'password' : 'text'" name="confirmPwd" id="confirmPwd" appValidLetters="validPwd" formControlName="confirmPwd" autocomplete="off" maxlength="10" minlength="8">
                    <mat-icon matSuffix (click)="hideConfirmPdw = !hideConfirmPdw">{{ hideConfirmPdw ? 'visibility_off' : 'visibility' }}</mat-icon>

                    <mat-error *ngIf="formUser.get('confirmPwd').hasError('required') && !formUser.errors?.notSame">
                      Debe ingresar una contraseña
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('pwd').hasError('required') && !formUser.get('pwd').hasError('pattern') && (formUser.get('pwd').hasError('minlength') || formUser.get('pwd').hasError('minlength'))">
                      Su Clave debe tener un largo de 8 a 10 caracteres.
                    </mat-error>

                    <mat-error *ngIf="!formUser.get('confirmPwd').hasError('required') && formUser.get('confirmPwd').hasError('pattern') && !formUser.errors?.notSame">
                      Su clave debe contener al menos 5 números, 1 letra minuscula, 1 letra mayuscula y un simbolo (./*$).
                    </mat-error>

                    <mat-hint class="custom-error" *ngIf="formUser.errors?.notSame && (formUser.get('pwd').touched || formUser.get('confirmPwd').touched)">
                      Las contraseñas no coinciden
                    </mat-hint>
                  </mat-form-field>

                </div>

              </div> -->

              <div class="category form-category ml-3 mt-3">* Campos Requeridos</div>

              <div class="card-footer justify-content-center">
                <!-- [disabled]="formUser.invalid"  -->
                <button mat-raised-button type="submit" class="btn btn-rose" (click)="createUser()">Crear</button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
