<!-- CON DATOS -->
<ng-container *ngIf="!isLoading">
  <div mat-dialog-title>
    <div class="text-center">
      <i class="material-icons" style="color: green; font-size: 50px;">check_circle</i>

      <h4 class="mb-1">
        <strong>Actualiza la unidad del Anexo {{ data.idAnexo }}</strong>
      </h4>
    </div>
  </div>

  <div mat-dialog-content class="mt-1 dialog-select-fix">
    <p class="text-center">Selecciona Unidad</p>

    <div class="row">
      <div class="col-10 ml-auto mr-auto">
        <select class="form-control" [formControl]="unitSelected" name="unit">
          <option *ngFor="let unit of units" [value]="unit.idUnit">{{ unit.unitName }}</option>
        </select>
      </div>

    </div>

  </div>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 text-center">
      <button mat-raised-button class="btn btn-danger" (click)="onClose()">Cancelar</button>
    </div>
    <div class="col-sm-12 col-md-6 text-center">
      <button mat-raised-button class="btn btn-success" (click)="onConfirm()">Confirmar</button>
    </div>
  </div>
</ng-container>

