<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">tag</i>
            </div>
            <h4 class="card-title">Formulario Creación</h4>
          </div>
          <div class="card-body mt-5">
            <form class="form-horizontal" [formGroup]="formAnexo">
              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Ingresar Anexo</mat-label>
                    <input matInput type="text" inputmode="numeric" name="name" id="name" appOnlyNumber formControlName="name" autocomplete="off" minlength="1">

                    <mat-error *ngIf="formAnexo.get('name').hasError('required')">
                      Debe ingresar un valor.
                    </mat-error>

                    <mat-error *ngIf="!formAnexo.get('name').hasError('required') && formAnexo.get('name').hasError('pattern')">
                      Debe ingresar un valor con solo números.
                    </mat-error>

                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Seleccionar Unidad</mat-label>
                    <mat-select formControlName="unit">
                      <mat-option *ngFor="let unit of units" [value]="unit.idUnit">
                        {{ unit.unitName }}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="formAnexo.get('unit').hasError('required')">
                      Debe seleccionar una Unidad.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="category form-category ml-3 mt-3">* Campos Requeridos</div>

              <div class="card-footer justify-content-center">
                <button mat-raised-button type="submit" class="btn btn-rose" (click)="createAnexo()">Crear</button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
