<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-10 col-lg-10 col-xl-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">corporate_fare</i>
            </div>
            <h4 class="card-title">Formulario Actualización</h4>
          </div>
          <div class="card-body mt-5">
            <form class="form-horizontal" [formGroup]="formProvider">
              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Nombre Proveedor</mat-label>
                    <input matInput type="text" name="proviverName" id="providerName" appValidLetters="onlyLettersSpace" formControlName="providerName" autocomplete="off">

                    <mat-error *ngIf="formProvider.get('providerName').hasError('required')">
                      Debe ingresar un nombre.
                    </mat-error>

                    <mat-error *ngIf="!formProvider.get('providerName').hasError('required') && !formProvider.get('providerName').hasError('pattern') && (formProvider.get('providerName').hasError('minlength') || formProvider.get('providerName').hasError('minlength'))">
                      El nombre de Proveedor debe tener un largo de 2 a 150 caracteres.
                    </mat-error>

                    <mat-error *ngIf="!formProvider.get('providerName').hasError('required') && formProvider.get('providerName').hasError('pattern')">
                      Debe ingresar un nombre sin caracteres especiales.
                    </mat-error>

                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                  <mat-form-field appearance="legacy">
                    <mat-label>Costo Fijo Anexo</mat-label>
                    <input matInput type="text" inputmode="numeric" name="fixedCost" appOnlyNumberThousand id="fixedCost" formControlName="fixedCost" autocomplete="off">

                    <mat-error *ngIf="formProvider.get('fixedCost').hasError('required')">
                      Debe ingresar un costo fijo.
                    </mat-error>

                  </mat-form-field>
                </div>
              </div>

              <h3 class="pl-3">
                <small>Costos de servicios / seg ($)</small>
              </h3>

              <div formArrayName="services">
                <div class="row" *ngFor="let service of formProvider.get('services')?.controls; let i = index">
                  <div class="col-sm-12 col-md-9 col-lg-10 ml-auto mr-auto">
                    <mat-form-field appearance="legacy">
                      <mat-label>{{ servicesArray[i].nameService }}</mat-label>
                      <input matInput type="text" inputmode="numeric" appOnlyNumberThousand [formControlName]="i" autocomplete="off">

                      <mat-error *ngIf="service.hasError('required')">
                        Debe ingresar un costo.
                      </mat-error>

                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="category form-category ml-3 mt-3">* Campos Requeridos</div>

              <div class="card-footer justify-content-center">
                <button mat-raised-button type="submit" class="btn btn-rose" [disabled]="formProvider.invalid" (click)="updateProvider()">Actualizar</button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
