<nav class="navbar navbar-expand-lg bg-primary navbar-transparent navbar-absolute" color-on-scroll="500">
  <div class="container">
    <div class="navbar-wrapper">
      <h2 class="d-none d-sm-none d-md-block mt-4" style="font-size: 2rem;"><b>Tarificación <br>Universidad Siglo XXI</b></h2>
      <h2 class="navbar-brand d-block d-sm-block d-md-none"><b>Tarificación <br>Universidad Siglo XXI</b></h2>
    </div>
  </div>
</nav>

<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/fondo-login.jpeg');
  background-size: cover; background-position: top center;">

  <div class="opacity-login">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 ml-auto mr-auto">
          <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div id="loginCard" class="card card-login card-hidden" style="min-height: 345px;">
              <div class="card-header card-header-warning text-center">
                <h3 class="card-title" style="font-weight: 600;">Iniciar Sesión</h3>
              </div>
              <div class="card-body ">
                <p class="card-description text-center" style="font-size: 1.2rem; font-weight: 400;">Ingresar Credenciales</p>

                <span class="bmd-form-group">
                  <div class="input-group" style="margin-bottom: 1.4rem; margin-top: 1.3rem;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">person</i>
                      </span>
                    </div>

                    <input type="text" class="form-control" formControlName="user" appValidLetters="lettersMinMayNumber" (input)="toLowercase($event)" placeholder="Usuario" autocomplete="off">

                  </div>
                </span>

                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">key</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" appValidLetters="validPwd" formControlName="password" placeholder="Constraseña">

                  </div>
                </span>
              </div>
              <div class="error-input" *ngIf="errorLogin">
                Usuario o contraseña incorrecto
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-warning" [disabled]="loginForm.invalid || isloading">{{ isloading ? 'Cargando' : 'Iniciar' }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <div class="copyright pull-right mr-3">
          &copy;
            {{ currentDate | date: 'yyyy' }}, Portafolio Luis Murga
        </div>
      </div>
    </footer>
  </div>
  </div>
</div>
