<div mat-dialog-title>
  <div class="text-center">
    <i class="material-icons" style="color: #0FAC0F; font-size: 50px;">check_circle</i>

    <h3 class="mb-1">Anexo: {{ data.idAnexo }}</h3>
  </div>
</div>

<div mat-dialog-content class="mt-5">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Tiempo Hablado</th>
          <th class="text-center">Costo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of data.detail; let i = index;">
          <td class="text-center">{{ service.nameService }}</td>
          <td class="text-center">{{ service.spokenSeconds | moneyFormat }}</td>
          <td class="text-center">${{ service.cost | moneyFormat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="text-center mt-5">
  <button mat-raised-button class="btn btn-primary m-auto" (click)="onClose()">Aceptar</button>
</div>
